@media screen and (max-width: 768px) {
    #learn-proj{
        flex-direction: column;
    }
    .sitePrevImg{
        max-width: 200px;
    }
    #background-video{
        height: 100%;
        width: 100%;
    }
}